@import "tailwindcss";
html {
    background-image: url("/bgmovie.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    
}
body::before {
    content: "";
    position: fixed;
    inset: 0;      
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;          
}
body {
    background: transparent;
    min-height: 100vh;
}
